################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj/
bin/
/packages
*.suo
*.crunchsolution.cache
*.ncrunchsolution.user
*.DotSettings.user
*.ncrunchproject
*.user
