@{
    ViewBag.Title = "Home Page";
}

<div ng-app="app" ng-controller="auctionSalesCtrl">

    <form>
        <div class="form-group">
            <label>Price</label>
            <input class="form-control"/>
        </div>


    </form>


</div>